# Xcode
.DS_Store
*/.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
*.xcuserstate
DerivedData/
*.hmap
*.ipa
*.xccheckout
*.xcscmblueprint
*/xcuserdata/*.xcuserstate
PueblaReecicla.xcodeproj/project.xcworkspace/xcuserdata/Alumno.xcuserdatad/UserInterfaceState.xcuserstate

# CocoaPods
Pods/

# Xcode
.DS_Store
*/.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
*.xcuserstate
DerivedData/
*.hmap
*.ipa
*.xccheckout
*.xcscmblueprint 

# CocoaPods
Pods/

